extends emailBase
block content
  p Hi #{firstName},
  p Forget your password ? Submit this PATCH request with your password amd password Confirm to #{url}.
  p (Website for this action not yet implemented)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p if you didn't forget yout password , please ignore this email!
